.friends{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-friends{
  display: block;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.item-friends{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  
  margin: 0 10px 10px 10px;
  border: 1px solid black;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.status{
  margin: 4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.avatar {
  /* display: block;
  width: 100%;
  height: auto; */
  width: 48px;
  height: 48px;
  margin: 8px;
  outline: 1px solid lightgray;
  border-radius: 8px;
}

.name {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}