.transactions {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.transaction-history {
  table-layout: fixed;
  /* width: 100%; */
  /* min-width: 400px; */
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  
  border-collapse: collapse;
  white-space: nowrap;

  color: black;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.3);
}

.transaction-history thead {
  color: white;
  text-shadow: 0 1px 1px #2D2020;
  background-color: rgb(129, 127, 255);
  padding: 10px;
}

.transaction-history th {
  min-width: 100px;
  padding: 8px;
   /* border: 1px solid darkgray;  */

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.transaction-history tbody td {
  padding: 8px;
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray;
  transition: border-bottom 150ms linear, 
              font-weight 150ms linear;
}

.transaction-history tbody td:last-child {
  border-right: none;
}

.transaction-history tbody tr:nth-child(odd) {
  background-color: white;
}

.transaction-history tbody tr:nth-child(even) {
  background-color: lightgrey;
}

.transaction-history tbody tr:hover td {
  /* background: #D1C7BF; */
  border-bottom: 1px solid black;
  font-weight: 700;
}